* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "FF Oxide Solid";
}
@import url(//db.onlinewebfonts.com/c/bc30adee89b44a44a5cfdff676aef0fe?family=FF+Oxide+Solid);
@font-face {
  font-family: "FF Oxide Solid";
  src: url("//db.onlinewebfonts.com/t/bc30adee89b44a44a5cfdff676aef0fe.eot");
  src: url("//db.onlinewebfonts.com/t/bc30adee89b44a44a5cfdff676aef0fe.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/bc30adee89b44a44a5cfdff676aef0fe.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/bc30adee89b44a44a5cfdff676aef0fe.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/bc30adee89b44a44a5cfdff676aef0fe.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/bc30adee89b44a44a5cfdff676aef0fe.svg#FF Oxide Solid")
      format("svg");
}

#start {
  animation: showButton 3s 3s 1 linear forwards;
  font-weight: 500;
  position: absolute;
  visibility: hidden;
  top: 70%;
  left: 40.5vw;
  width: 250px;
  height: 100px;
  outline: none;
  z-index: 320;
  color:#f0e7e7;
  background-color: #451804;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  border-radius: 10px;
  transition: linear 0.5s;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1);
}

#start:hover {
  background-color: #c1440e;
  transition: linear 0.5s;
  text-shadow: 0px 0px 10px #f0e7e7;
  box-shadow: 0px 0px 2px 2px #451804;
}

#start:active {
transition: linear 0s;
  background-color: #c1440e;
  box-shadow: 0 5px #451804;
  transform: translateY(4px);
  text-shadow: 0px 0px 10px #f0e7e7;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
}
#bring {
  position: absolute;
  top: 10%;
  left: -300px;
  z-index: 300;
  animation: centerLeft 0.5s 1s 1 linear forwards;

}

#him {
  position: absolute;
  top: 30%;
  right: -200px;
  z-index: 300;
  animation: centerRight 0.5s 1.5s 1 linear forwards;
}

#home {
  position: absolute;
  top: 50%;
  left: -300px;
  z-index: 300;
  animation: centerLeft 0.5s 2s 1 linear forwards;
}

.presentation {
  user-select: none;
  font-weight: 100;
  font-size: 5em;
  color: #f0e7e7;
  text-shadow: 0px 0px 5px #000;


}
.scene {
  max-height: 1000px;
}

#range {
  margin-top: 5px;
  color: #eee;
  font-size: 10pt;
  margin-left: 10px;
  position: relative;
}

#specks {
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
}

.speck {
  opacity: 0;
  height: 4px;
  width: 4px;
  background: url("../assets/speck_zpsu9xym9zl.png");
  background-size: contain;
  position: absolute;
  border-radius: 10px;
  z-index: 3;
}

.img {
  position: absolute;
  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  animation: startingAnimation 50s 0s infinite linear forwards;
}

@keyframes startingAnimation
{
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 5000px;
  }
  
}

#img-1 {
  opacity: 0.25;
  background: url("../assets/dust1.jpg");
  background-repeat: repeat;
  z-index: 5;
}

#img-2 {
  opacity: 0.2;
  background: url("../assets/dust2.jpg");
  background-repeat: repeat;
  z-index: 4;
}
li {
  list-style-type: none;
}
#img-3 {
  opacity: 0.15;
  background: url("../assets/dust3.jpg");
  background-repeat: repeat;
  z-index: 3;
}

@keyframes centerLeft {
  from {
    left: -300px;
  }
  to {
    left: 40vw;
  }
}

@keyframes centerRight {
  from {
    right: -300px;
  }
  to {
    right: 45vw;
  }
}

#intro {
  position: fixed;

  height: 1000px;
  width: 100%;
  top: 0;
  left: 0;
  background: url("../assets/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
  background-attachment: fixed;
  -webkit-filter: brightness(3);
  filter: brightness(1.5);
  -o-filter: brightness(3);
  -moz-filter: brightness(3);
}

/* Now the same background, but with brightness filters*/
.lightning {
  position: fixed;

  height: 1000px;
  width: 100%;

  top: 0;
  left: 0;

  background: url("../assets/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-filter: brightness(3);
  filter: brightness(4);
  -o-filter: brightness(3);
  -moz-filter: brightness(3);
  z-index: -1;
  background-attachment: fixed;
}

.flashit {
  animation: flash ease-out 7s infinite;
  animation-delay: 0s;
  visibility: hidden;
}

@keyframes flash {
  from {
    opacity: 0;
    visibility: visible;
  }
  92% {
    opacity: 0;
  }
  93% {
    opacity: 0.6;
  }
  94% {
    opacity: 0.2;
  }
  96% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes showButton {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
